.section-contacts {
  background-color: #0046ff;
  padding-bottom: 30px;
  padding-top: 40px;

  .section {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;

    @include media(">=tablet") {
      align-items: flex-start;
    }

    .contacts {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;


      @include media(">=tablet") {
        align-items: flex-start;
        margin-left: auto;
        margin-right: 0;
        width: 50%;
      }
    }
  }
}
