.section-whom-we-helped {
  background: #f1f1f2;
  padding-bottom: 24px;
  padding-top: 28px;

  .section {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;

    .heading + .gallery {
      margin-top: 24px;
    }
  }
}
