.section-our-team {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  padding-bottom: 46px;
  padding-left: 56px;
  padding-right: 56px;
  padding-top: 30px;
}
