.section-i-need-a-car {
  background-color: #f1f1f2;
  padding-bottom: 60px;
  padding-top: 70px;

  .section {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;

    .button + .text-content {
      margin-top: 14px;
    }
  }
}
