.section-whom-we-helped {
  background-color: #f1f1f2;
  padding-bottom: 24px;
  padding-top: 28px;

  .section {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
  }
}
