.button {
  align-items: center;
  border: 2px solid transparent;
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  font-size: 24px;
  font-weight: 600;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.button-group {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;

  @include media(">=tablet") {
    flex-direction: row;
    justify-content: space-between;
  }

  .button + .button {
    margin-top: 16px;

    @include media(">=tablet") {
      margin-top: 0;
    }
  }
}

.button-group--donate {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;

  @include media(">tablet") {
    flex-direction: row;
    justify-content: space-between;
  }

  .button + .button {
    margin-top: 16px;

    @include media(">tablet") {
      margin-top: 0;
    }
  }
}

.button-contact-us {
  background: #000000;
  border-color: #ffffff;
  color: #ffffff;
  font-size: 18px;
  height: 32px;
  width: 142px;
}

.button--donate {
  background: #ffffff;
  border-color: #0046ff;
  color: #000000;
  height: 52px;
  width: 100%;

  @include media(">=tablet") {
    width: 208px;
  }

  .button_title {
    font-size: 24px;
  }

  .button_sub-title {
    font-size: 6px;
  }
}

.button--donate-monthly {
  background: #000000;
  border-color: #ffffff;
  color: #ffffff;
  font-size: 16px;
  height: 52px;
  width: 100%;

  @include media(">=tablet") {
    font-size: 24px;
    width: 614px;
  }
}

.button--hero {
  background: transparent;
  border-color: #000000;
  color: #000000;
  font-size: 20px;
  height: 38px;
  width: 220px;
}

.button--i-need-a-car {
  background: #0046ff;
  border-color: #000000;
  color: #ffffff;
  height: 52px;
  width: 100%;

  @include media(">=tablet") {
    width: 382px;
  }
}

.button--social-media {
  background: #000000;
  border-color: #ffffff;
  color: #ffffff;
  font-size: 18px;
  height: 32px;
  width: 142px;
}

.button--want-to-help {
  background: #0046ff;
  border-color: #000000;
  color: #ffffff;
  height: 52px;
  width: 100%;

  @include media(">=tablet") {
    width: 488px;
  }
}
