.donation-details {
  .donation-details_item {
    .heading {
      font-size: 14px;

      @include media(">=tablet") {
        font-size: 16px;
      }
    }

    .text-content {
      font-size: 12px;

      @include media(">=tablet") {
        font-size: 16px;
        white-space: nowrap;
      }
    }

    .heading + .text-content {
      margin-top: 4px;

      @include media(">=tablet") {
        margin-top: 8px;
      }
    }
  }

  .donation-details_item + .donation-details_item {
    margin-top: 16px;

    @include media(">=tablet") {
      margin-top: 32px;
    }
  }
}
