.gallery {
  height: 472px;
  position: relative;
  width: 100%;

  .gallery_item {
    background-color: #ffffff;
    border: 2px solid #000000;
    border-radius: 16px;
    height: 434px;
    padding: 16px 12px;
  }

  .gallery_graphic-content {
    background-color: #0046ff;
    height: 212px;
    width: 100%;
  }

  .gallery_text-content {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;

    span {
      font-weight: 600;
      padding-right: 4px;
    }
  }

  .gallery_graphic-content + .gallery_text-content {
    margin-top: 18px;
  }
}
