body.modal-window--active {
  overflow: hidden;
}

.modal-window {
  align-items: center;
  background: rgba(#000000, 0.5);
  display: none;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100vh;
  justify-content: center;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1000;

  .modal-window_content {
    background: #ffffff;
    border: none;
    border-radius: 32px;
    padding: 64px 16px;
    position: relative;

    @include media(">=tablet") {
      padding: 68px 30px;
    }

    .modal-window_close {
      cursor: pointer;
      height: 24px;
      position: absolute;
      right: 18px;
      top: 18px;
      width: 24px;

      @include media(">=tablet") {
        height: 34px;
        width: 34px;
      }
    }
  }
}

.modal-window-cryptocurrency {
  .modal-window_content {
  }
}

.modal-window.modal-window--active {
  display: flex;
}

.modal-window_open {
  pointer-events: none;

  //@include media(">=desktop") {
  //  pointer-events: initial;
  //}
}
